.badge {
  display: flex;
  align-items: center;
  background-color: #f1f1f1;
  padding: 5px 10px;
  border-radius: 20px;
}

.badge__icon {
  margin-right: 5px;
  font-size: 1.5rem;
}

.badge__name {
  font-size: 1rem;
}
