.editModal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

.editModal-overlay > .modal-content {
  background-color: white;
  padding: 50px;
  box-sizing: border-box;
  border-radius: 8px;
  width: 500px;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.editModal-overlay > .modal-content > h1 {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
}
