:root {
  --black-black_282828: #282828;
  --gray-gray_8D8D8D: #8d8d8d;
  --gray-gray_B8B8B8: #b8b8b8;
  --gray-gray_DDDDDD: #ddd;
  --gray-gray_F4F4F4: #f4f4f4;
  --gray-gray_FAFAFA: #fafafa;
  --white-white_FFFFFF: #fff;
  --red-red_FF575757: #ff5757;
}
